doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(content='IE=edge', http-equiv='X-UA-Compatible')
        title Novum Insights App
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/Navigation-Clean.css',rel='stylesheet')
        link(href='/css/styles.css', rel='stylesheet')
        link(href='/css/font-awesome.min.css', rel='stylesheet')


        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans', rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Alegreya+SC:400,700', rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet' type='text/css')
        link(href="/images/favicon.ico", rel="shortcut icon", type='image/x-icon')

        script(type='text/javascript', src='http://public.tableau.com/javascripts/api/tableau-2.0.0.js')
        script(type='text/javascript', src='/js/tableauviz.js')

        <!--[if lt IE 9 ]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        //block termshdr

    body
        div
            nav.navbar.navbar-light.navbar-expand.fixed-top.navigation-clean(style='padding:16px;background-color:rgb(37,58,123);')
                .container-fluid
                    a.navbar-brand(href='#', style='color:rgb(255,255,255);')
                        img#logo(src='images/novum_logo.png', style='background-color:#ffffff;')
                        |  Blockchain
                    button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
                        span.sr-only Toggle navigation
                        span.navbar-toggler-icon
                    #navcol-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.ml-auto
                        li.dropdown
                            a.dropdown-toggle.nav-link.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', href='#', style='color:rgb(255,255,255);') Welcome Tim!
                            .dropdown-menu(role='menu')
                                a.dropdown-item(role='presentation', href='#') Account Setup
                                a.dropdown-item(role='presentation', href='#') Logout
            #page-links-container.container
        br
        br
        br
        #page-links.row.align-items-center
            .col.col-2
            .col.col-2
                a.page-link(href='/dashboard', style='color:rgb(37,58,123);') Dashboard
            .col.col-2
                a.page-link(onclick="switchView('Company Page')", style='color:rgb(37,58,123);') Companies
            .col.col-2
                a.page-link(onclick="switchView('Investment Page')", style='color:rgb(37,58,123);') Investments
            .col.col-2
                a.page-link(onclick="switchView('Investor Page')", style='color:rgb(37,58,123);') Investors
            .col.col-2

        form#tableau(name="tableau")
            //input(type="button", name="test", value="Filter", onclick="filterSingleValue();")
            .container-fluid
                .row#vizMain
                //.row#vizFilters

    script(type='text/javascript').
        var viz, viz2, workbook;
        var landingPages = ["Page1","Page2"];
        var pos = 0;
        var vizDiv = document.getElementById('vizMain');
        var vizDivFilters = document.getElementById("vizFilters");
        var vizURL = "http://viz.gcvanalytics.com/trusted/#{ticket}/t/NovumInsights/views/NovumMVP/LandingPage?:embed=y:render=false&:toolbar=bottom";
        var vizURLFilters = "http://viz.gcvanalytics.com/t/NovumInsights/views/NovumMVP/Filters?:embed=y:render=false&:toolbar=bottom:refresh=yes";

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')
